body{
    margin: 0;
    padding: 0;
    background-image: url(https://cdn.wallpapersafari.com/2/20/ynIhfu.jpg);
    color: rgb(2, 176, 176);
    margin-top: 20px;
    margin-left: 20px;
}

#navbar-left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: space-around;
    height: 170px;
    margin-left: 10px;
}

#navbar-right{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: space-around;
    height: 100px;
    margin-right: 10px;
}

button{
    border-radius: 50px;
    background-color: aquamarine;
}

button:hover{
    background-color:rgb(0, 103, 103);
}

a{
    color: rgb(59, 98, 0);
}
a:hover{
    color: greenyellow;
}

table{
    border-color: rgb(0, 103, 103);
    margin-right: 20px;
}
table td{
    padding: 10px;
}
iframe{
    border-radius: 10px;
    border-color: rgb(14, 203, 203);
    overflow-y: scroll;
}

footer{
    display: flex;
    justify-content: center;
}

#footer_hobbies{
    margin-right: 100px;
}

hr{
    height: 3px;
    width: 50%;
    border: none;
    margin: 20px auto;
    border-top: 3px dashed rgb(14, 203, 203);
}